<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/Bracu_01022022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. From a given string, print the string in all uppercase if the number of uppercase letters is more than lowercase letters. Otherwise, if lowercase is greater or equal to uppercase letters, print all lowercase. The inputs will contain letters (A-Z, a-z) only.
   Sample Input
HOusE ApplE BaNaNa
Sample Output
HOUSE apple banana

In [ ]:
t=[]
for i in range(3):
  t.append(input())

for s1 in t:
  count1=0
  count2=0
  for i in s1:
    if 65<=ord(i)<=90:
      count1+=1
    else:
      count2+=1
  if count1>count2:
    print(s1.upper())
  else:
    print(s1.lower())

HOusE
ApplE
BaNaNa
HOUSE
apple
banana

2. Given a string, print whether it is a number, word or mixed with digit and letters. If all the characters are numeric values, print NUMBER. If they are all letters, print WORD. If it is mixed, print MIXED.
  Sample Input
213213 jhg231j213 Hello
Sample Output
NUMBER MIXED WORD

In [ ]:
t=[]
for i in range(3):
  t.append(input())


for s in t:
  num=False
  alp=False

  for i in s:
    if 65<=ord(i)<=90 or 97<=ord(i)<=122:
      alp=True
    else:
      num=True
    if alp == True and num == True:
      break
  if alp==True and num==False:
    print("WORD")
  elif alp==False and num==True:
    print("NUMBER")
  else:
    print("MIXED")

hekllp
12312
asdfas34343
WORD
NUMBER
MIXED

3. In a given string, there will be two uppercase letters in between some lowercase letters. Print the substring from the first uppercase letter to the last uppercase letter excluding them. If there are no letters in between them, print the word BLANK. It is guaranteed that there will be only two uppercase letters in the string.
  Sample Input
baNgladEsh coDIng
Sample Output
glad BLANK

In [ ]:

t=[]
for i in range(2):
  t.append(input())

for s in t:
  res=""
  for i in range(len(s)-1):
    if 65<=ord(s[i])<=90:
      j=i
      while(True):
        if 65<=ord(s[j+1])<=90:
            break
        res=res+s[j+1]
        j+=1
          
      break

  if res!="":
    print(res)
  else:
    print("BLANK")

baNgladEngj
coDIng
glad
BLANK

4. Write a Python program to find the first appearance of the substring 'too' and 'good' from a given string. If 'good' follows the 'too', replace the whole 'too'' good' substring with 'excellent' and print the resulting string. If the above does not appear, print the string as it is.

In [ ]:
s1="The book is not too good!"
s=s1.replace("!","").split(" ")
st=''
if s.index("too")+1==s.index("good"):
  s.remove("too")
  for i in s:
    if i=="too ":
      continue
    elif i=='good':
      st=st+" excellent"
    else:
      st=st+" "+i
  st=st+"!" 
else:
  st=s1
print(st)

 The book is not excellent!

5. Create a string from two given strings by concatenating common characters of the given strings.

In [ ]:
s1='harry, hermione'

s=s1.replace(",","").replace(" ","")

l=[]

for i in range(len(s)):
  for j in range(i+1,len(s)-1):
    if s[i]==s[j]:
      l.append(s[i])

s2=''
for i in s:
  if i in l:
    s2=s2+i
if len(s2)>0:
  print(s2)
else:
  print("Nothing in common.")

hrrhr

6. Again, you have lost your USIS password!! You went to the registrar office and requested for a new password. This time, you need to follow some rules to set your password. Otherwise, they won't change it. The rules are
At least one lowercase letter
At least one uppercase letter
At least one digit (0-9)
At least one special character (_ , $ , #, @)
Your task is to find whether a given password follows all those rules. If it breaks any rule, you have to print Lowercase Missing, Uppercase Missing, Digit Missing or Special Missing respective to the missing case. For more than one rule break, print all the rules that were broken (order doesn't matter). If the password is ok, print OK.
 Sample Input
ohMyBR@CU ohmybracu OhMyBR@CU20
Sample Output
Digit missing
Uppercase character missing, Digit missing, Special character missing OK

In [ ]:
s="OhMyBR@CU20"
c_l=0
c_u=0
c_s=0
c_n=0
sp=["_","$","#","@"]
li=["Uppercase character missing","Lowercase character missing","Digit missing","Special character missing"]

for i in s:
  if "a"<=i<="z" and c_l==0:
    li.remove("Lowercase character missing")
    c_l=1
  elif "A"<=i<="Z" and c_u==0:
    li.remove("Uppercase character missing")
    c_u=1
  elif "0"<=i<="9" and c_n==0:
    li.remove("Digit missing")
    c_n=1
  elif i in sp and c_s==0:
    li.remove("Special character missing")
    c_s=1

if len(li)==0:
  print("OK")
else:
  print(*li,sep=",")

0
OK

1. Write a python program which prints the frequency of the numbers that were given as input by the user. Stop taking input when you find the string “STOP”. Do not print the frequency of numbers that were not given as input.
Sample Input
10
20
20
30
10
50
90 STOP

In [ ]:
li=[]
while(True):
  s=input()
  if s=="STOP":
    break
  li.append(int(s))
l1=list(set(li))
l1.sort()
count=[]
for i in l1:
  c=0
  for j in li:
    if i==j:
      c+=1
  count.append(c)


for i in range(len(l1)):
  print(l1[i]," - ",count[i]," times")

10
20
20
30
10
50
90
STOP
10  -  2  times
20  -  2  times
30  -  1  times
50  -  1  times
90  -  1  times

Write a python program that calculates the sum of N given lists and prints the highest sum and its respective list. Input starts with N and followed by N lists.
  Sample Input
4
123 456 1011 12 789

In [ ]:
n=int(input())
t=[]
s=[]
for i in range(n):
  e=(list(map(int,input().split())))
  t.append(e)
  s.append(sum(e))

print(max(s))
print(t[s.index(max(s))])

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

3. Write a python program that prints a list which contains cross multiplication between two given lists.

In [ ]:
n1=list(map(int,input().split()))
n2=list(map(int,input().split()))
t=[]
for i in n1:
  for j in n2:
    t.append(i*j)
print(t)

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

4. Let there are N numbers in a list and that list is said to be a UB Jumper if the absolute values of the difference between the successive elements take on all the values 1 through N − 1. For example, 2 1 4 6 10 is a UB Jumper because the absolute differences between them are 1 3 2 4 which is all numbers from 1 to (5 - 1) or 4. Write a python program that takes a number sequence as input and prints whether it is a UB Jumper or Not UB Jumper. Input will stop after getting “STOP” as input. (Number order or absolute difference order doesn’t follow any sequence.)
  Sample Input
1423
2 1 4 6 10 1 4 2 -1 6
STOP
Sample Output
UB Jumper
UB Jumper Not UB Jumper

In [ ]:
l=[]
while(True):
  n=[]
  n1=input()
  if n1=="STOP":
    break
  n2=list(n1.split(" "))
  for i in n2:
    n.append(int(i))
  l.append(n)
2
res=[]

for l1 in l:
  flage=0
  for j in range(len(l1)-1):
    if(abs(l1[j]-l1[j+1])>len(l1)):
      flage=1
      break
  if flage==0:
    res.append("UB Jumper")
  else:
    res.append("Not UB Jumper")
print(*res,sep="\n")

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
UB Jumper
UB Jumper
Not UB Jumper

5. You are given a string that contains alphanumeric characters only. Your task is to sort the string in the following manner:
a. All sorted lowercase letters are ahead of uppercase letters.
b. All sorted uppercase letters are ahead ofdigits.
c. All sorted odd digits are ahead of sorted even digits.
  Sample Input
Bracu1234
Sample Output
acruB1324

In [ ]:
n="Bracu1234"
flage=1
if "0"<=n[0]<="9":
  flage=0
x=sorted(n)

num1=''
word1_l=''
word1_u=''
word1_s=''
for i in n:
  if "0"<=i<="9":
    num1=num1+i
  elif "a"<=i<="z":
    word1_l=word1_l+i
  elif "A"<=i<="Z":
    word1_u=word1_u+i
  else:
    word1_s=word1_s+i


num=sorted(num1)
word_l=sorted(word1_l)
word_u=sorted(word1_u)
word_s=sorted(word1_s)

if flage==1:
  s=''
  for i in word_l:
    s=s+i
  for i in word_u:
    s=s+i
  for i in word_s:
    s=s+i
  for i in num:
    s=s+i
else:
  s=''
  for i in num:
    s=s+i
  for i in word_l:
    s=s+i
  for i in word_u:
    s=s+i
  for i in word_s:
    s=s+i
    s=s+i
print(s)

acruB1234

6. BRACU has n students who are regular competitive programmers. According to the ACM ICPC rules, each person can participate in the regional championship at most 5 times.
The head of the BRACU ACM Chapter is recently gathering teams to participate in this championship. Each team must consist of exactly three people, at that, any person cannot be a member of two or more teams. What maximum number of teams can the head make if he wants each team to participate in the world championship with the same members at least k times?
The first line of input contains two integers, n and k. The next line contains n integers: y1, y2, ..., yn (0 ≤ yi ≤ 5), where yi shows the number of times the i-thperson participated in the ACM ICPC Regional .
Write a python program that prints how many teams can be formed according to the above problem statement.
Sample Input 1
52 04510
Sample Input 2
64 012345
Sample Input 3
65 000000
Sample Output 1 1
Sample Output 2 0
Sample Output 3 2

1. Write a Python program to combine two dictionaries into one by adding values for common keys. Input contains two comma separated dictionaries. Print the new dictionary and create a tuple which contains unique values in sorted order.
 
Sample Input
a: 100, b: 100, c: 200, d: 300 a: 300, b: 200, d: 400, e: 200
Sample Output
{'a': 400, 'b': 300, 'c': 200,'d': 700, 'e': 200} Values: (200, 300, 400, 700)

In [11]:
dic1={"a": 100, "b": 100, "c": 200, "d": 300}
dic2={ "a": 300, "b": 200, "d": 400, "e": 200}

l1=[]
l2=[]
unik=[]
for i in dic1:
  l1.append(i)
  
for i in dic2:
  l2.append(i)
 

lo=[]
lc=[]
la=l1+l2

for i in l1:
  lo.append(i)
for i in l2:
  if i not in l1:
    lo.append(i)
    

for i in l1:
  if i in l2:
    lc.append(i)
  


final={}
for i in la:
  if i in lc:
    final[i]=dic1[i]+dic2[i]
    
  else:
    if i in l1:
      final[i]=dic1[i]
    else:
      final[i]=dic2[i]
  unik.append(final[i])
print(final)
print("Values: ",tuple(sorted(list(set(unik)))))

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
Values:  (200, 300, 400, 700)