<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/Bracu_Assignment_02032022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [ ]:
class Calculator():
  def __init__(self,num1,num2):
      self.num1=num1
      self.num2=num2
      self.op=op

  def add(self):
    return self.num1+self.num2

  def subtract(self):
    return self.num1-self.num2


  def multiply(self):
    return self.num1*self.num2


  def divide(self):
    return self.num1/self.num2



n1=int(input())
op=input()
n2=int(input())

calculator=Calculator(n1,n2)

if op=="+":
  result=(calculator.add())

elif op=="-":
  result=(calculator.subtract())

elif op=="*":
  result=(calculator.multiply())

elif op=="/":
  result=(calculator.divide())


else:
  result="Invalid Oparator"

print("Let's Calculate!")
print("Value 1:",calculator.num1)
print("Operator:",calculator.op)
print("Value 2:",calculator.num2)
print("Result: ",result)

1
+
2
Let's Calculate!
Value 1: 1
Operator: +
Value 2: 2
Result:  3

Question 2

In [5]:
class Customer():
  def __init__(self,name):
      self.name=name
  def greet(self,n=''):
    print("Hello",n,"!")

  def purchase(self,*args):
    print(self.name,'you purchased',len(args),"item(s):")
    for i in args:
      print(i)

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello  !
Sam you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David !
David you purchased 1 item(s):
orange juice

Question 3

In [7]:
class Panda():
  def __init__(self,name,gender,age):
      self.name=name
      self.gender=gender
      self.age=age
      


panda1 = Panda("Kunfu","Male", 5) 
panda2=Panda("Pan Pan","Female",3) 
panda3=Panda("Ming Ming","Female",8)

print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))
print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))
print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old