<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/Bracu_01022022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. From a given string, print the string in all uppercase if the number of uppercase letters is more than lowercase letters. Otherwise, if lowercase is greater or equal to uppercase letters, print all lowercase. The inputs will contain letters (A-Z, a-z) only.
   Sample Input
HOusE ApplE BaNaNa
Sample Output
HOUSE apple banana

In [ ]:
t=[]
for i in range(3):
  t.append(input())

for s1 in t:
  count1=0
  count2=0
  for i in s1:
    if 65<=ord(i)<=90:
      count1+=1
    else:
      count2+=1
  if count1>count2:
    print(s1.upper())
  else:
    print(s1.lower())

HOusE
ApplE
BaNaNa
HOUSE
apple
banana

2. Given a string, print whether it is a number, word or mixed with digit and letters. If all the characters are numeric values, print NUMBER. If they are all letters, print WORD. If it is mixed, print MIXED.
  Sample Input
213213 jhg231j213 Hello
Sample Output
NUMBER MIXED WORD

In [ ]:
t=[]
for i in range(3):
  t.append(input())


for s in t:
  num=False
  alp=False

  for i in s:
    if 65<=ord(i)<=90 or 97<=ord(i)<=122:
      alp=True
    else:
      num=True
    if alp == True and num == True:
      break
  if alp==True and num==False:
    print("WORD")
  elif alp==False and num==True:
    print("NUMBER")
  else:
    print("MIXED")

hekllp
12312
asdfas34343
WORD
NUMBER
MIXED

3. In a given string, there will be two uppercase letters in between some lowercase letters. Print the substring from the first uppercase letter to the last uppercase letter excluding them. If there are no letters in between them, print the word BLANK. It is guaranteed that there will be only two uppercase letters in the string.
  Sample Input
baNgladEsh coDIng
Sample Output
glad BLANK

In [ ]:

t=[]
for i in range(2):
  t.append(input())

for s in t:
  res=""
  for i in range(len(s)-1):
    if 65<=ord(s[i])<=90:
      j=i
      while(True):
        if 65<=ord(s[j+1])<=90:
            break
        res=res+s[j+1]
        j+=1
          
      break

  if res!="":
    print(res)
  else:
    print("BLANK")

baNgladEngj
coDIng
glad
BLANK

4. Write a Python program to find the first appearance of the substring 'too' and 'good' from a given string. If 'good' follows the 'too', replace the whole 'too'' good' substring with 'excellent' and print the resulting string. If the above does not appear, print the string as it is.

In [ ]:
s1="The book is not too good!"
s=s1.replace("!","").split(" ")
st=''
if s.index("too")+1==s.index("good"):
  s.remove("too")
  for i in s:
    if i=="too ":
      continue
    elif i=='good':
      st=st+" excellent"
    else:
      st=st+" "+i
  st=st+"!" 
else:
  st=s1
print(st)

 The book is not excellent!

5. Create a string from two given strings by concatenating common characters of the given strings.

In [29]:
s1='harry, hermione'

s=s1.replace(",","").replace(" ","")

l=[]

for i in range(len(s)):
  for j in range(i+1,len(s)-1):
    if s[i]==s[j]:
      l.append(s[i])

s2=''
for i in s:
  if i in l:
    s2=s2+i
if len(s2)>0:
  print(s2)
else:
  print("Nothing in common.")

hrrhr