<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/CSV_with_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
df = read.csv('https://raw.githubusercontent.com/RafsanJany-44/Rough_Dataset/main/Dataset_midterm_SectionA.csv')

In [30]:
print(df)

    Gender    age sibsp parch     fare embarked  class   who     alone survived
1        0  37.00     1     1  52.5542        S  First   man     FALSE        1
2        0  54.00     1     0  26.0000        S Second   man     FALSE        0
3        0     NA     0     0   7.2500        S  Third   man      TRUE        0
4        1  29.00     1     1  10.4625        S  Third woman      FALL        0
5        0  62.00     0     0  26.5500        S  First   man      TRUE        0
6        0  30.00     1     0  16.1000        S  Third   man     FALSE        0
7        1  41.00     0     2  20.2125        S  Third woman      FALL        0
8        1  29.00     0     2  15.2458        C  Third woman     FALSE        1
9        1     NA     0     0  79.2000        C  First woman      TRUE        1
10       1  30.00     0     0  86.5000        S  First woman      FALL        1
11       1  35.00     0     0 512.3292        C  First woman      TRUE        1
12       1  50.00     0     1  26.0000        S Second woman     FALSE        1
13       0     NA     0     0   7.7500        Q          man      TRUE        0
14       0   3.00     4     2  31.3875        S  Third child     FALSE        1
15       0  52.00     1     1  79.6500        S  First   man     FALSE        0
16       0  40.00     0     0   0.0000        S  First   man      TRUE        0
17       1     NA     0     0   7.7500        Q  Third woman      TRUE        0
18       0  36.00     0     0  10.5000        S Second   man      TRUE        0
19       0  16.00     4     1  39.6875        S  Third   man     FALSE        0
20       0  25.00     1     0   7.7750        S  Third   man     FALSE        1
21       1  58.00     0     1 153.4625        S  First woman     FALSE        1
22       1  35.00     0     0 135.6333        S  First woman      TRUE        1
23       0     NA     0     0  31.0000        S  First   man      TRUE        0
24       0  25.00     0     0   0.0000        S  Third   man      TRUE        1
25       1  41.00     0     1  19.5000        S Second woman     FALSE        1
26       0  37.00     0     1  29.7000        C  First   man     FALSE        0
27       1     NA     0     0   7.7500        Q  Third woman      TRUE        1
28       1  63.00     1     0  77.9583        S  First woman     FALSE        1
29       1  45.00     0     0   7.7500        S  Third woman      TRUE        0
30      NA     NA     0     0   0.0000        S          man      TRUE        0
31       0   7.00     4     1  29.1250        Q  Third child     FALSE        0
32       1  35.00     1     1  20.2500        S  Third woman     FALSE        1
33       0  65.00     0     0   7.7500        Q  Third   man      TRUE        0
34      NA  28.00     0     0   7.8542        S  Third   man      TRUE        0
35       0  16.00     0     0   9.5000        S  Third   man      TRUE        0
36       0  19.00     0     0   8.0500        S  Third   man      TRUE        1
37       0     NA     0     0  26.0000        S  First   man      TRUE        0
38       0  33.00     0     0   8.6625        C  Third   man      TRUE        0
39       0  30.00     0     0   9.5000        S  Third   man      TRUE        1
40       0  22.00     0     0   7.8958        S  Third   man      TRUE        0
41       0  42.00     0     0  13.0000        S Second   man      TRUE        1
42      NA  22.00     0     0   7.7500        Q  Third woman      TRUE        1
43       1  26.00     0     0  78.8500        S  First woman      TRUE        1
44       1  19.00     1     0  91.0792        C  First woman     FALSE        1
45       0  36.00     0     0  12.8750        C Second   man      TRUE        0
46       1  24.00     0     0   8.8500        S  Third woman      TRUE        0
47       0 150.00     0     0   7.8958        S  Third   man      TRUE        0
48       0     NA     0     0  27.7208        C  First   man      TRUE        0
49       0  23.50     0     0   7.2292        C  Third   man      TRUE        0
50       1   2.00     1     2 151.5500        S  First child     FALSE        0
51       0     NA     0     0  30.5000        S  First   man      TRUE        1
52       1  50.00     0     1 247.5208        C  First woman     FALSE        1
53      NA     NA     0     0   7.7500        Q  Third woman      TRUE        1
54       0 200.00     2     0  23.2500        Q  Third   man     FALSE        1
55       0  19.00     0     0   0.0000        S  Third   man      TRUE        0
56       1     NA     0     0  12.3500        Q        woman      TRUE        1
57       0     NA     0     0   8.0500        S  Third   man      TRUE        0
58       0   0.92     1     2 151.5500        S  First child     FALSE        1
59       1     NA     0     0 110.8833        C  First woman      TRUE        1
60       1  17.00     1     0 108.9000        C  First woman     FALSE        1
61       0  30.00     1     0  24.0000        C Second   man     FALSE        0
62       1  30.00     0     0  56.9292        C  First woman      TRUE        1
63       1  24.00     0     0  83.1583        C  First woman      TRUE        1
64       1  18.00     2     2 262.3750        C        woman     FALSE        1
65       1  26.00     1     1  26.0000        S Second woman     FALSE        0
66       0  28.00     0     0   7.8958        S  Third   man      TRUE        0
67       0  43.00     1     1  26.2500        S Second   man     FALSE        0
68       1  26.00     0     0   7.8542        S  Third woman      TRUE        1
69       1  24.00     1     0  26.0000        S Second woman     FALSE        1
70       0  54.00     0     0  14.0000        S Second   man      TRUE        0
71       1  31.00     0     2 164.8667        S  First woman     FALSE        1
72       1  40.00     1     1 134.5000        C  First woman     FALSE        1
73       0  22.00     0     0   7.2500        S  Third   man      TRUE        0
74       0  27.00     0     0   7.8958        S  Third   man      TRUE        0
75       1  30.00     0     0  12.3500        Q Second woman      TRUE        1
76       1  22.00     1     1  29.0000        S Second woman     FALSE        1
77       0     NA     8     2  69.5500        S  Third   man     FALSE        0
78       1  36.00     0     0 135.6333        C  First woman      TRUE        1
79       0  61.00     0     0   6.2375        S  Third   man      TRUE        0
80       1  36.00     0     0  13.0000        S Second woman      TRUE        1
81       1  31.00     1     1  20.5250        S  Third woman     FALSE        1
82       1  16.00     0     1  57.9792        C  First woman     FALSE        1
83       1     NA     2     0  23.2500        Q  Third woman     FALSE        1
84       0  45.50     0     0  28.5000        S  First   man      TRUE        0
85       0  38.00     0     1 153.4625        S  First   man     FALSE        0
86       0  16.00     2     0  18.0000        S  Third   man     FALSE        0
87       1     NA     1     0 133.6500        S  First woman     FALSE        1
88       0     NA     0     0   7.8958        S  Third   man      TRUE        0
89       0  29.00     1     0  66.6000        S  First   man     FALSE        0
90       1  41.00     0     0 134.5000        C  First woman      TRUE        1
91       0  45.00     0     0   8.0500        S  Third   man      TRUE        1
92       0  45.00     0     0  35.5000        S  First   man      TRUE        0
93       0   2.00     1     1  26.0000        S Second child     FALSE        1
94       1  24.00     3     2 263.0000        S  First woman     FALSE        1
95       0  28.00     0     0  13.0000        S Second   man      TRUE        0
96       0  25.00     0     0  13.0000        S Second   man      TRUE        0
97       0  36.00     0     0  13.0000        S Second   man      TRUE        0
98       1  24.00     0     0  13.0000        S Second woman      TRUE        1
99       1  40.00     0     0  13.0000        S Second woman      TRUE        1
100      1     NA     1     0  16.1000        S  Third woman     FALSE        1
101      0   3.00     1     1  15.9000        S  Third child     FALSE        1
102      0  42.00     0     0   8.6625        S  Third   man      TRUE        0
103      0  23.00     0     0   9.2250        S  Third   man      TRUE        0
104      0     NA     0     0  35.0000        S  First   man      TRUE        0
105      0  15.00     1     1   7.2292        C  Third child     FALSE        0
106      0  25.00     1     0  17.8000        S  Third   man     FALSE        0
107      0     NA     0     0   7.2250        C  Third   man      TRUE        0
108      0  28.00     0     0   9.5000        S  Third   man      TRUE        0
109      1  22.00     0     1  55.0000        S  First woman     FALSE        1
110      1  38.00     0     0  13.0000        S Second woman      TRUE        0
111      1     NA     0     0   7.8792        Q  Third woman      TRUE        1
112      1     NA     0     0   7.8792        Q  Third woman      TRUE        1
113      0  40.00     1     4  27.9000        S  Third   man     FALSE        0
114      0  29.00     1     0  27.7208        C Second   man     FALSE        0
115      1  45.00     0     1  14.4542        C  Third woman     FALSE        0
116      0  35.00     0     0   7.0500        S  Third   man      TRUE        0
117      0     NA     1     0  15.5000        Q  Third   man     FALSE        0
118      0  30.00     0     0   7.2500        S  Third   man      TRUE        0
119      1  60.00     1     0  75.2500        C  First woman     FALSE        1
120      1 120.00     0     0   7.2292        C  Third woman      TRUE        1
121      1     NA     0     0   7.7500        Q  Third woman      TRUE        1
122      1  24.00     0     0  69.3000        C  First woman      TRUE        1
123      0  25.00     1     0  55.4417        C  First   man     FALSE        1
124      0  18.00     1     0   6.4958        S  Third   man     FALSE        0
125      0  19.00     0     0   8.0500        S  Third   man      TRUE        0
126      0  22.00     0     0 135.6333        C  First   man      TRUE        0
127      1   3.00     3     1  21.0750        S  Third child     FALSE        0
128      1     NA     1     0  82.1708        C  First woman     FALSE        1
129      1  22.00     0     0   7.2500        S  Third woman      TRUE        1
130      0  27.00     0     2 211.5000        C  First   man     FALSE        0
131      0  20.00     0     0   4.0125        C  Third   man      TRUE        0
132      0  19.00     0     0   7.7750        S  Third   man      TRUE        0
133      1  42.00     0     0 227.5250        C  First woman      TRUE        1
134      1   1.00     0     2  15.7417        C  Third child     FALSE        1
135      0  32.00     0     0   7.9250        S  Third   man      TRUE        0
136      1  35.00     1     0  52.0000        S  First woman     FALSE        1
137      0     NA     0     0   7.8958        S  Third   man      TRUE        0
138      0  18.00     0     0  73.5000        S Second   man      TRUE        0
139      0   1.00     5     2  46.9000        S  Third child     FALSE        0
140      1  36.00     0     0  13.0000        S Second woman      TRUE        1
141      0     NA     0     0   7.7292        Q  Third   man      TRUE        0
142      1  17.00     0     0  12.0000        C Second woman      TRUE        1
143      0  36.00     1     2 120.0000        S  First   man     FALSE        1
144      0  21.00     0     0   7.7958        S  Third   man      TRUE        1
145      0  28.00     2     0   7.9250        S  Third   man     FALSE        0
146      1  23.00     1     0 113.2750        C  First woman     FALSE        1
147      1  24.00     0     2  16.7000        S  Third woman     FALSE        1
148      0  22.00     0     0   7.7958        S  Third   man      TRUE        0
149      1  31.00     0     0   7.8542        S  Third woman      TRUE        0
150      0  46.00     0     0  26.0000        S Second   man      TRUE        0
151      0  23.00     0     0  10.5000        S Second   man      TRUE        0
152      1  28.00     0     0  12.6500        S Second woman      TRUE        1
153      0  39.00     0     0   7.9250        S  Third   man      TRUE        1
154      0  26.00     0     0   8.0500        S  Third   man      TRUE        0
155      1  21.00     1     0   9.8250        S  Third woman     FALSE        0
156      0  28.00     1     0  15.8500        S  Third   man     FALSE        0
157      1  20.00     0     0   8.6625        S  Third woman      TRUE        0
158      0  34.00     1     0  21.0000        S Second   man     FALSE        0
159      0  51.00     0     0   7.7500        S  Third   man      TRUE        0
160      0   3.00     1     1  18.7500        S Second child     FALSE        1
161      0  21.00     0     0   7.7750        S  Third   man      TRUE        0
162      1     NA     3     1  25.4667        S  Third woman     FALSE        0
163      0     NA     0     0   7.8958        S  Third   man      TRUE        0
164      0     NA     0     0   6.8583        Q  Third   man      TRUE        0
165      1  33.00     1     0  90.0000        Q  First woman     FALSE        1
166      0     NA     0     0   0.0000        S Second   man      TRUE        0
167      0  44.00     0     0   7.9250        S  Third   man      TRUE        1
168      1     NA     0     0   8.0500        S  Third woman      TRUE        0
169      1  34.00     1     1  32.5000        S Second woman     FALSE        1
170      1  18.00     0     2  13.0000        S Second woman     FALSE        1
171      0  30.00     0     0  13.0000        S Second   man      TRUE        0
172      1  10.00     0     2  24.1500        S  Third child     FALSE        0
173      0     NA     0     0   7.8958        C  Third   man      TRUE        0
174      0  21.00     0     0   7.7333        Q  Third   man      TRUE        0
175      0  29.00     0     0   7.8750        S  Third   man      TRUE        0
176      1  28.00     1     1  14.4000        S  Third woman     FALSE        0
177      0  18.00     1     1  20.2125        S  Third   man     FALSE        0
178      0     NA     0     0   7.2500        S  Third   man      TRUE        0
179      1  28.00     1     0  26.0000        S Second woman     FALSE        1
180      1  19.00     0     0  26.0000        S Second woman      TRUE        1
181      0     NA     0     0   7.7500        Q  Third   man      TRUE        0
182      0  32.00     0     0   8.0500        S  Third   man      TRUE        1
183      0  28.00     0     0  26.5500        S  First   man      TRUE        1
184      1     NA     1     0  16.1000        S  Third woman     FALSE        1
185      1  42.00     1     0  26.0000        S Second woman     FALSE        1
186      0  17.00     0     0   7.1250        S  Third   man      TRUE        0
187      0  50.00     1     0  55.9000        S  First   man     FALSE        0
188      1  14.00     1     2 120.0000        S  First child     FALSE        1
189      1  21.00     2     2  34.3750        S  Third woman     FALSE        0
190      1  24.00     2     3  18.7500        S Second woman     FALSE        1
191      0  64.00     1     4 263.0000        S  First   man     FALSE        0
192      0  31.00     0     0  10.5000        S Second   man      TRUE        0
193      1  45.00     1     1  26.2500        S Second woman     FALSE        1
194      0  20.00     0     0   9.5000        S  Third   man      TRUE        0
195      0  25.00     1     0   7.7750        S  Third   man     FALSE        0
196      1  28.00     0     0  13.0000        S Second woman      TRUE        1
197      0     NA     0     0   8.1125        S  Third   man      TRUE        1
198      0   4.00     0     2  81.8583        S  First child     FALSE        1
199      1  13.00     0     1  19.5000        S Second child     FALSE        1
200      0  34.00     0     0  26.5500        S  First   man      TRUE        1
201      1   5.00     2     1  19.2583        C  Third child     FALSE        1
202      0  52.00     0     0  30.5000        S  First   man      TRUE        1
203      0  36.00     1     2  27.7500        S Second   man     FALSE        0
204      0     NA     1     0  19.9667        S  Third   man     FALSE        0
205      0  30.00     0     0  27.7500        C  First   man      TRUE        0
206      0  49.00     1     0  89.1042        C  First   man     FALSE        1
207      0     NA     0     0   8.0500        S  Third   man      TRUE        0
208      0  29.00     0     0   7.8958        C  Third   man      TRUE        1
209      0  65.00     0     0  26.5500        S  First   man      TRUE        0
210      1     NA     1     0  51.8625        S  First woman     FALSE        1
211      1  50.00     0     0  10.5000        S Second woman      TRUE        1
212      0     NA     0     0   7.7500        Q  Third   man      TRUE        0
213      0  48.00     0     0  26.5500        S  First   man      TRUE        1
214      0  34.00     0     0   8.0500        S  Third   man      TRUE        0
215      0  47.00     0     0  38.5000        S  First   man      TRUE        0
216      0  48.00     0     0  13.0000        S Second   man      TRUE        0
217      0     NA     0     0   8.0500        S  Third   man      TRUE        0
218      0  38.00     0     0   7.0500        S  Third   man      TRUE        0
219      0     NA     0     0   0.0000        S Second   man      TRUE        0
220      0  56.00     0     0  26.5500        S  First   man      TRUE        0
221      0     NA     0     0   7.7250        Q  Third   man      TRUE        0
222      1   0.75     2     1  19.2583        C  Third child     FALSE        1
223      0     NA     0     0   7.2500        S  Third   man      TRUE        0
224      0  38.00     0     0   8.6625        S  Third   man      TRUE        0
225      1  33.00     1     2  27.7500        S Second woman     FALSE        1
226      1  23.00     0     0  13.7917        C Second woman      TRUE        1
227      1  22.00     0     0   9.8375        S  Third woman      TRUE        0
228      0     NA     0     0  52.0000        S  First   man      TRUE        0
229      0  34.00     1     0  21.0000        S Second   man     FALSE        0
230      0  29.00     1     0   7.0458        S  Third   man     FALSE        0
231      0  22.00     0     0   7.5208        S  Third   man      TRUE        0
232      1   2.00     0     1  12.2875        S  Third child     FALSE        1
233      0   9.00     5     2  46.9000        S  Third child     FALSE        0
234      0     NA     0     0   0.0000        S Second   man      TRUE        0
235      0  50.00     0     0   8.0500        S  Third   man      TRUE        0
236      1  63.00     0     0   9.5875        S  Third woman      TRUE        1
237      0  25.00     1     0  91.0792        C  First   man     FALSE        1
238      1     NA     3     1  25.4667        S  Third woman     FALSE        0
239      1  35.00     1     0  90.0000        S  First woman     FALSE        1
240      0  58.00     0     0  29.7000        C  First   man      TRUE        0
241      0  30.00     0     0   8.0500        S  Third   man      TRUE        0
242      0   9.00     1     1  15.9000        S  Third child     FALSE        1
243      0     NA     1     0  19.9667        S  Third   man     FALSE        0
244      0  21.00     0     0   7.2500        S  Third   man      TRUE        0
245      0  55.00     0     0  30.5000        S  First   man      TRUE        0
246      0  71.00     0     0  49.5042        C  First   man      TRUE        0
247      0  21.00     0     0   8.0500        S  Third   man      TRUE        0
248      0     NA     0     0  14.4583        C  Third   man      TRUE        0
249      1  54.00     1     0  78.2667        C  First woman     FALSE        1

In [31]:
apply(df,2,sd)

Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”

    Gender        age      sibsp      parch       fare   embarked      class
        NA         NA  0.9731372  0.7335989 57.0959699         NA         NA
       who      alone   survived
        NA         NA  0.4961043

In [36]:
sapply(df, sd)

Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”
Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”

    Gender        age      sibsp      parch       fare   embarked      class
        NA         NA  0.9731372  0.7335989 57.0959699         NA         NA
       who      alone   survived
        NA         NA  0.4961043

In [32]:
colnames(df)

 [1] "Gender"   "age"      "sibsp"    "parch"    "fare"     "embarked"
 [7] "class"    "who"      "alone"    "survived"

In [33]:
typeof(colnames(df))

[1] "character"

In [34]:
sd(df$fare)

[1] 57.09597