<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/Json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_json("/content/ADANIENT-2000-01-01-2023-05-31.json",typ='series')

In [23]:
df.head(10)

status                                               success
remarks
data       {'open': [6.63, 6.75, 6.75, 6.53, 6.5600000000...
dtype: object

In [28]:
df2 = pd.DataFrame(df['data'])

In [30]:
df2.head(10)

   open  high   low  close   volume           start_Time
0  6.63  6.72  6.50   6.59  43406.0  2003-09-05 00:00:00
1  6.75  6.81  6.57   6.62  37381.0  2003-09-08 00:00:00
2  6.75  6.87  6.47   6.59  41136.0  2003-09-09 00:00:00
3  6.53  6.68  6.50   6.58  36487.0  2003-09-10 00:00:00
4  6.56  6.75  6.47   6.53  38052.0  2003-09-11 00:00:00
5  6.66  6.72  6.50   6.57  37512.0  2003-09-12 00:00:00
6  6.67  6.67  6.32   6.41  33956.0  2003-09-15 00:00:00
7  6.30  6.38  6.22   6.30  37143.0  2003-09-16 00:00:00
8  6.28  6.53  6.25   6.31  33496.0  2003-09-17 00:00:00
9  6.29  6.34  6.07   6.11  35983.0  2003-09-18 00:00:00