<a href="https://colab.research.google.com/github/RafsanJany-44/practice_cell/blob/master/MEGA_Naive_Byaes_10f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NAIVE BAYES

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
# On importe les librairies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [22]:
# On importe le dataset
f="/content/drive/MyDrive/Thesis_Data/MEGA_10f.csv"
dataset = pd.read_csv(f)
dataset.head()

  Sleep_Stage  MedianF_Beta_F4  ...  MeanF_Beta_F4  MeanF_Beta_C4
0           W         19.73073  ...       29.84585       28.97171
1           W         17.23317  ...       26.34927       26.34927
2           W         17.60780  ...       25.47512       24.85073
3           W         17.35805  ...       26.47415       26.34927
4           W         17.23317  ...       25.84976       26.09951

[5 rows x 11 columns]

In [23]:
# On sépare notre dataframe en deux les inputs et les targets ( survived )
X = dataset.drop('Sleep_Stage',axis='columns')
Y = dataset.Sleep_Stage

In [24]:
# Identifier les colonnes ou il manque des données
X.columns[X.isna().any()]

Index([], dtype='object')

In [25]:
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  MeanF_Beta_F4  MeanF_Beta_C4
count    108451.000000          108451.000000  ...  108451.000000  108451.000000
mean         17.282671              29.446835  ...      27.382434      27.636884
std          14.226341              14.190779  ...      13.689974      14.256541
min           6.243900              13.361950  ...      14.735610      14.610730
25%          12.612680              22.727800  ...      22.103410      21.728780
50%          14.485850              25.350240  ...      23.976590      23.601950
75%          17.108290              31.344390  ...      27.722930      27.722930
max         127.875120             127.875120  ...     127.875120     127.875120

[8 rows x 10 columns]

In [26]:
X.fillna(X.mean(), inplace=True)
X.describe()

       MedianF_Beta_F4  Spectral Edge_Beta_F4  ...  MeanF_Beta_F4  MeanF_Beta_C4
count    108451.000000          108451.000000  ...  108451.000000  108451.000000
mean         17.282671              29.446835  ...      27.382434      27.636884
std          14.226341              14.190779  ...      13.689974      14.256541
min           6.243900              13.361950  ...      14.735610      14.610730
25%          12.612680              22.727800  ...      22.103410      21.728780
50%          14.485850              25.350240  ...      23.976590      23.601950
75%          17.108290              31.344390  ...      27.722930      27.722930
max         127.875120             127.875120  ...     127.875120     127.875120

[8 rows x 10 columns]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [28]:
model = CategoricalNB()

In [29]:
model.fit(X_train,y_train)

CategoricalNB()

In [30]:
print(f)
print(model.score(X_train,y_train))

/content/drive/MyDrive/Thesis_Data/MEGA_10f.csv
0.46174504379898573