<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2.1

income= float(input('Enter the gross income: '))
num_of_depends= float(input('Enter the number of dependents: '))

In [ ]:
#2.2

edge=int(input("Enter the cube's edge: "))
print()
print("The surface area is",6*edge**2, "square units.")

Enter the cube's edge: 4

The surface area is 96 square units.

In [ ]:
#2.3

new_vdo = int(input("Enter the number of new videos: "))
old_vdo = int(input("Enter the number of old videos: "))
print()
print("The total cost is $"+str(3*new_vdo+2*old_vdo))

Enter the number of new videos: 3
Enter the number of old videos: 2

The total cost is $13

In [ ]:
#2.4

radius=int(input("Radius = "))

print()

print("Diameter      : ", 2*radius)
print("Circumference : ", 2*radius*3.141592653589793)
print("Surface area  : ", 4*3.141592653589793*radius**2)
print("Volume        : ", (4/3)*3.141592653589793*radius**3)

Radius = 5

Diameter      :  10
Circumference :  31.41592653589793
Surface area  :  314.1592653589793
Volume        :  523.5987755982989

In [ ]:
2#2.5

mass= float(input("Mass: "))
velocity = float(input("Velocity: "))
print()
print("The object's momentum is : ", mass*velocity)

Mass: 5
Velocity: 2.5

The object's momentum is :  12.5

In [ ]:
#2.6

mass= float(input("Mass: "))
velocity = float(input("Velocity: "))
print()
print("The object's momentum is : ", mass*velocity)
print("The object's kinetic energy is : ", 0.5*mass*velocity*velocity)

Mass: 5
Velocity: 2.5

The object's momentum is :  12.5
The object's kinetic energy is :  15.625

In [ ]:
#2.7

print("The number of minutes in a year is ", (365*24*60))

The number of minutes in a year is  525600

In [ ]:
#2.8

print("Light travels ", int(365*24*60*60*3*10e8), " meters in a year")

Light travels  94608000000000000  meters in a year

In [ ]:
#2.9

km=int(input("Enter the number kilometers: "))

naut_mile=((90*60)/10000)*km
print()
print("The number ofnautical miles is ", naut_mile)

Enter the number kilometers: 100

The number ofnautical miles is  54.0

In [ ]:
#2.10
wage = float(input("Enter the wage: $"))
reg_hours = float(input("Enter the regular hours: "))
overtime_hours = float(input("Enter the overtime hours: "))

total_pay= wage*reg_hours+wage*1.5*overtime_hours

print()
print("The total weekly pay is $"+str(total_pay))

Enter the wage: $15.5
Enter the regular hours: 40
Enter the overtime hours: 12

The total weekly pay is $899.0

In [ ]:
#3.1

side1 = float(input("Enter the first side: "))
side2 = float(input("Enter the second side: "))
side3 = float(input("Enter the third side: "))

print()

if (side1+side2>side3):
  print('The triangle is equilateral.')
else:

  print('The triangle is not equilateral.')

Enter the first side: 3
Enter the second side: 9
Enter the third side: 20

The triangle is not equilateral.

In [ ]:
#3.2

side1 = float(input("Enter the first side: "))
side2 = float(input("Enter the second side: "))
side3 = float(input("Enter the third side: "))

# selecting the hypotenuse by comparing
if (side1 > side2 and side1>side3):
  hypotenuse=side1
  base=side2
  height=side3

elif (side2 > side1 and side2 > side3):
  hypotenuse=side2
  base=side1
  height=side3


else:
  hypotenuse=side3
  base=side2
  height=side1


print()

if ((base**2)+(height**2)==(hypotenuse**2)): #recalling Pythagorean theorem
  print('The triangle is equilateral.')
else:
  print('The triangle is not equilateral.')

Enter the first side: 8
Enter the second side: 6
Enter the third side: 10

The triangle is equilateral.

In [ ]:
#3.3

import random
import math

smaller = int(input("Enter the smaller number: "))
larger  = int(input("Enter the larger number: "))


x = smaller
y = larger

myNumber = random.randint(smaller,larger)
count = 0
MaxGus = round(math.log(larger - smaller + 1, 2)) #settin the max guesses 


while True:
  count+=1
  print(x,y)

  print("Your number is",myNumber)

  sign = input("Enter =, <, or >:")

  if sign=='=':
    print("Horray, I've got it in",count,"tries.")
    break
  
  elif sign=='<':
    y = myNumber-1
  
  elif sign=='>':
    x = myNumber+1
  
  if x >= y:
    print("I'm out of guesses, and you cheated!")
    break
  if count==MaxGus:
    print("I'm out of guesses, and you cheated!")
    break
  myNumber = random.randint(x,y)

Enter the smaller number: 0
Enter the larger number: 10
0 10
Your number is 1
Enter =, <, or >:=
Horray, I've got it in 1 tries.

In [ ]:
#3.4

height= float(input("Enter the height from which the ball is droped: "))
bounch_index = float(input("Enter the bounciness index of the ball: "))
number_of_bouncing = int(input("Enter the number of times the ball is allowed to continue bouncing: "))


total_distance=0

for i in range(number_of_bouncing): # setting the nunber of bounching
  new_height=height*bounch_index

  total_distance=total_distance+height+new_height # setting the height aftch bouner each

  height=new_height

print("Total distacne traveled:",total_distance,"units")

Enter the height from which the ball is droped: 25
Enter the bounciness index of the ball: .5
enter the number of times the ball is allowed to continue bouncing: 3
Total distacne traveled: 65.625 units

In [ ]:
#3.5

number_of_organisms = int(input("Enter the initial number of organisms: "))
rate_of_growth = float(input("Enter the rate of growth [a real number > 1]: "))
achive_hours = int(input("Enter the number of hours to achieve the rate of growth: "))
total_hours = int(input("Enter the total hours of growth: "))