<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/Untitled100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
!pip install glob2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: glob2 in /usr/local/lib/python3.9/dist-packages (0.7)

In [7]:
from glob import glob
import os
import pandas as pd
path = "/content/drive/MyDrive/Iqram Sir/Fitabase data pulls - seperate"

UnboundLocalError: ignored

In [35]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from tqdm.notebook import tqdm

def get_content(patient_folder_adrs):

  post_adrs = sorted(glob(patient_folder_adrs+"/*"))[0]
  

  pre_adrs = sorted(glob(patient_folder_adrs+"/*"))[1]

  for i in glob(post_adrs+"/*"):
    content = i.split("_")
    if "1min" in content:
      post_1min = i
    if "minuteCaloriesNarrow" in content:
      post_cal = i
    if "minuteMETsNarrow" in content:
      post_met = i
      print(i)

  for i in glob(pre_adrs+"/*"):
    content = i.split("_")
    if "1min" in i.split("_"):
      pre_1min = i
    if "minuteCaloriesNarrow" in content:
      pre_cal = i
    if "minuteMETsNarrow" in content:
      pre_met = i
 
  return post_1min, post_cal,post_met, pre_1min, pre_cal, pre_met




def plot_single_sample(X,Y,m,c):
  fig = plt.figure(figsize=(13,8))
  ax = fig.add_subplot()
  fig.subplots_adjust(top=0.85)

  # Set titles for the figure and the subplot respectively
  #fig.suptitle('bold figure suptitle', fontsize=14, fontweight='bold')
  ax.set_title('Max HR',fontweight='bold')

  ax.scatter(X, Y)

  high_y = Y.max()

  high_x = (high_y-c)/m

  rang_y=[Y.min(),high_y]

  ax.plot((rang_y-c)/m, rang_y, color = "red")

  ax.scatter(high_x, high_y, color='green')
  ax.annotate('(aEEMax,HRMax)', xy=(high_x, high_y), xytext=(high_x-5, high_y+10),fontweight='bold')
  ax.annotate("("+str(round(high_x[0],2))+","+str(high_y)+")", xy=(high_x, high_y), xytext=(high_x-3, high_y+5),fontweight='bold',color = 'purple')

  ax.set_xlabel("aEE(kJ/min)",fontweight='bold',fontsize=12)
  ax.set_ylabel("HR(BPM)",fontweight='bold',fontsize=12)

  ax.axis([0, high_x+10, 0, high_y+30])

  ax.grid()
  plt.show()


def plot_max(X,Y,m,c):
  fig = plt.figure(figsize=(13,8))
  ax = fig.add_subplot()
  fig.subplots_adjust(top=0.85)

  # Set titles for the figure and the subplot respectively
  #fig.suptitle('bold figure suptitle', fontsize=14, fontweight='bold')
  ax.set_title('Max HR & aEE',fontweight='bold')

  ax.scatter(X, Y)

  high_y = Y.max()

  high_x = (high_y-c)/m

  rang_y=[Y.min(),high_y]

  ax.plot((rang_y-c)/m, rang_y, color = "red")

  ax.scatter(high_x, high_y, color='green')
  ax.annotate('(aEE_Max,HR_Max)', xy=(high_x, high_y), xytext=(high_x-5, high_y+10),fontweight='bold')
  ax.annotate("("+str(round(high_x[0],2))+","+str(high_y)+")", xy=(high_x, high_y), xytext=(high_x-3, high_y+5),fontweight='bold',color = 'purple')

  ax.set_xlabel("aEE_MAX(kJ/min)",fontweight='bold',fontsize=12)
  ax.set_ylabel("HR_MAX(BPM)",fontweight='bold',fontsize=12)

  ax.axis([0, high_x+10, 0, high_y+30])

  ax.grid()
  plt.show()




def single_sample_reg(df_1min, df_cal,cal_fil_lim):
  list_1 = list(df_1min["Time"])
  list_2 = list(df_cal["ActivityMinute"])

  hr = []
  aee = []
  time = []

  if len(list_1)>len(list_2):
    for i in tqdm(list_1):
      if i in list_2 and list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0] >= cal_fil_lim:
        hr.append(list(df_1min.query("Time == '"+i+"'")['Value'])[0])
        aee.append(list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0]*4.184)
        time.append(i)

  else:
    for i in tqdm(list_2):
      if i in list_1 and list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0] >= cal_fil_lim:
        hr.append(list(df_1min.query("Time == '"+i+"'")['Value'])[0])
        aee.append(list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0]*4.184)
        time.append(i)

  d={
    "Time" : time,
     "HR(BPM)" : hr,
     "aEE(kJ/min)":aee
  }

  dataFrame = pd.DataFrame.from_dict(d)


  Y = dataFrame["HR(BPM)"].values.reshape(-1, 1)
  X = dataFrame["aEE(kJ/min)"].values.reshape(-1, 1)
  reg = LinearRegression().fit(X, Y)
  m = reg.coef_[0]
  c = reg.intercept_
  plot_single_sample(X,Y,m,c)
  
  return dataFrame



def hr_aee_mx_reg(df_1min, df_cal, cal_fil_lim):
  list_1 = list(df_1min["Time"])
  list_2 = list(df_cal["ActivityMinute"])

  hr = []
  aee = []
  time = []

  if len(list_1)>len(list_2):
    for i in tqdm(list_1):
      if i in list_2 and list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0] >= cal_fil_lim:
        hr.append(list(df_1min.query("Time == '"+i+"'")['Value'])[0])
        aee.append(list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0]*4.184)
        time.append(i)

  else:
    for i in tqdm(list_2):
      if i in list_1 and list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0] >= cal_fil_lim:
        hr.append(list(df_1min.query("Time == '"+i+"'")['Value'])[0])
        aee.append(list(df_cal.query("ActivityMinute == '"+i+"'")['Calories'])[0]*4.184)
        time.append(i)

  d={
    "Time" : time,
     "HR(BPM)" : hr,
     "aEE(kJ/min)":aee
  }

  dataFrame = pd.DataFrame.from_dict(d)


  Y = dataFrame["HR(BPM)"].values.reshape(-1, 1)
  X = dataFrame["aEE(kJ/min)"].values.reshape(-1, 1)
  reg = LinearRegression().fit(X, Y)
  m = reg.coef_[0]
  c = reg.intercept_
  
  hr_mx = Y.max()
  aee_mx = (hr_mx-c)/m
  return hr_mx, round(aee_mx[0],2)

In [18]:
subject = '001-JV'

In [36]:


for i in glob(path+"/*"):
  #get_contenct(i)
  if subject in i.split("/"):
    Post_1min,Post_cal,Post_met, Pre_1min,Pre_cal,Pre_met = get_content(i)

df_post_1min = pd.read_csv(Post_1min)
df_post_cal = pd.read_csv(Post_cal)
df_post_met = pd.read_csv(Post_met)

df_pre_1min = pd.read_csv(Pre_1min)
df_pre_cal = pd.read_csv(Pre_cal)
df_pre_met = pd.read_csv(Pre_met)

/content/drive/MyDrive/Iqram Sir/Fitabase data pulls - seperate/001-JV/001 Post-op/001-JV_minuteMETsNarrow_20211217_20220120.csv

In [37]:
df_post_1min.head()

                    Time  Value
0  12/17/2021 2:29:00 AM     69
1  12/17/2021 2:30:00 AM     74
2  12/17/2021 2:31:00 AM     73
3  12/17/2021 3:16:00 AM     71
4  12/17/2021 3:17:00 AM     76

In [38]:
df_post_cal.head()

           ActivityMinute  Calories
0  12/17/2021 12:00:00 AM    1.3383
1  12/17/2021 12:01:00 AM    1.3383
2  12/17/2021 12:02:00 AM    1.3383
3  12/17/2021 12:03:00 AM    1.3383
4  12/17/2021 12:04:00 AM    1.3383

In [39]:
df_post_met.head()

           ActivityMinute  METs
0  12/17/2021 12:00:00 AM    10
1  12/17/2021 12:01:00 AM    10
2  12/17/2021 12:02:00 AM    10
3  12/17/2021 12:03:00 AM    10
4  12/17/2021 12:04:00 AM    10

In [ ]:
 dataTest = single_sample_reg(df_post_1min,df_post_cal, calorie_filter_limit)

 #test
 print()
 print("Minimum data of calorie is",round((dataTest["aEE(kJ/min)"].min())/4.184,2),", Which is more or equal then ",calorie_filter_limit)